table {
	border-collapse: collapse;
	margin: 32px 0;
	min-width: 600px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;

	thead {
		tr {
			background-color: #11101d;
			color: white;
			font-weight: bold;
			text-align: left;

			th {
				padding: 12px 16px;
			}
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid #11101d;

			td {
				padding: 12px 16px;
			}
		}

		tr:last-of-type {
			border-bottom: 2px solid #11101d;
		}
	}
}
